:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #ffbb00;
  --cor-p2: #e4a30b;
  --cor-p3: #a66f00;
  --cor-p4: #664400;
  --cor-p5: #332200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-bottom: 600px;
}
h1,
ul,
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background: var(--cor-12);
}
.container {
  max-width: 1200px;
  padding: 1.25rem;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  padding: 1rem 0;
  color: var(--cor-0);
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: bold;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 0.125rem;
  width: 0px;
  background: var(--cor-0);
  margin-top: 0.25rem;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 1.25rem;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 0.75rem;
  }
  .header-menu a {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }
  .header-menu a::after {
    display: none;
  }
}

/* Introdução started here */

.introducao-bg {
  background: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 12.5rem;
}

.introducao-conteudo h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.125;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.introducao-conteudo h1 span {
  color: var(--cor-p1);
}
.introducao-conteudo p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: var(--cor-5);
}

.introducao-conteudo a {
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--cor-p5);
  padding: 1rem 2rem;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-transform: uppercase;
}
.introducao-conteudo a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
.introducao img {
  height: 100%;
  border-radius: 0.25rem;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .introducao-conteudo h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .introducao-conteudo p {
    font-size: 1.125rem;
  }
}
@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .introducao-conteudo {
    padding-bottom: 0;
  }
  .introducao-conteudo h1 {
    font-size: 2rem;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .introducao-conteudo a {
    padding: 0.75rem 1rem;
  }
}
