.bicicleta-lista {
  padding: 120px 0;
}

.bicicleta-lista h2 {
  margin-bottom: 2.5rem;
}

.bicicleta-lista ul {
  display: flex;
  gap: 2.5rem;
  padding: 0 1.125rem;
  margin: 0 auto;
  max-width: 1400px;
  overflow-y: hidden;
}
.bicicleta-lista img {
  margin-bottom: 1rem;
}

.bicicleta-lista h3 {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.bicicleta-lista h3::before {
  content: '';
  background-color: var(--cor-p1);
  height: 8px;
  width: 12px;
  margin-right: 8px;
  display: inline-block;
}

.bicicleta-lista li span {
  padding-left: 20px;
}